<a href="https://colab.research.google.com/github/HydrOpOtesJA99/A.I-learning-CNN-analysis/blob/main/04_Flatten_Layer_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4_Flatten_Layer를_활용한_이미지_학습

In [ ]:
import tensorflow as tf
import pandas as pd

## with reshape

### 1)과거의 데이터 준비

In [ ]:
#1. 과거의 데이터를 준비한다.

(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape) # -> print 결과: 값이 표가 아니므로 표로 바꿔줘야 함

독립 = 독립.reshape(60000,784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape) # -> print 결과: 행, 열을 가진 '표'형 데이터 생성

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [ ]:
종속.head()

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
종속.tail()

       0  1  2  3  4  5  6  7  8  9
59995  0  0  0  0  0  0  0  0  1  0
59996  0  0  0  1  0  0  0  0  0  0
59997  0  0  0  0  0  1  0  0  0  0
59998  0  0  0  0  0  0  1  0  0  0
59999  0  0  0  0  0  0  0  0  1  0



*   (60000, 28, 28) --**reshape**-> (60000, 784)
*   28 x 28(행 x 열)을 784개의 column으로 바꿔줌
---
*   (60000,) --**원핫인코딩; pd.get_dummies**-> (60000, 10)
*   0~9까지 10개의 범주를 10개의 column으로 바꿔줌

### 2) 모델의 구조 만들기

In [ ]:
#2. 모델의 구조를 만든다.

X = tf.keras.layers.Input(shape=[784]) # 독립변수 784개
H = tf.keras.layers.Dense(84, activation='swish')(X) # 84개의 은닉층 추가
Y = tf.keras.layers.Dense(10, activation='softmax')(H) # 종속변수 10개
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

### 3) 데이터로 모델 학습

In [ ]:
#3. 데이터로 모델을 학습(FIT)한다.

model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 6s 3ms/step - loss: 2.4737 - accuracy: 0.8536
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.5293 - accuracy: 0.9164
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.4555 - accuracy: 0.9298
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.4296 - accuracy: 0.9350
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.4110 - accuracy: 0.9411
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3836 - accuracy: 0.9449
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3712 - accuracy: 0.9466
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3533 - accuracy: 0.9487
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3560 - accuracy: 0.9490
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.3570 - accuracy: 0.9517

### 4) 모델을 이용

In [ ]:
#4. 모델을 이용한다.

pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2) # DataFrame의 형태로 변형해 출력, round(2) -> 소수점 두번째 자리에서 반올림

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
# 정답지

종속[0:5] # 위와 비교해보니 정확하게 예측된듯 하다.

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

## with flatten

### 1)과거의 데이터 준비

In [ ]:
#1. 과거의 데이터를 준비한다.

(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape) # -> print 결과: 값이 표가 아니므로 표로 바꿔줘야 함

# 독립 = 독립.reshape(60000,784) # -> flatten 사용하므로 reshape 사용 X
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape) # -> print 결과: 행, 열을 가진 '표'형 데이터 생성

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [ ]:
종속.head()

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
종속.tail()

       0  1  2  3  4  5  6  7  8  9
59995  0  0  0  0  0  0  0  0  1  0
59996  0  0  0  1  0  0  0  0  0  0
59997  0  0  0  0  0  1  0  0  0  0
59998  0  0  0  0  0  0  1  0  0  0
59999  0  0  0  0  0  0  0  0  1  0



*   (60000, 28, 28) --**reshape**-> (60000, 784)
*   28 x 28(행 x 열)을 784개의 column으로 바꿔줌
---
*   (60000,) --**원핫인코딩; pd.get_dummies**-> (60000, 10)
*   0~9까지 10개의 범주를 10개의 column으로 바꿔줌

### 2) 모델의 구조 만들기

In [ ]:
#2. 모델의 구조를 만든다.

X = tf.keras.layers.Input(shape=[28, 28]) # reshape 사용X, 따라서 [28, 28]로 적음

H = tf.keras.layers.Flatten()(X) # Flatten을 이용해서 X data를 한줄로 펴준다
H = tf.keras.layers.Dense(84, activation='swish')(H) 

Y = tf.keras.layers.Dense(10, activation='softmax')(H) # 종속변수 10개

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

### 3) 데이터로 모델 학습

In [ ]:
#3. 데이터로 모델을 학습(FIT)한다.

model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3579 - accuracy: 0.9530
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3535 - accuracy: 0.9533
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3378 - accuracy: 0.9545
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3293 - accuracy: 0.9560
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3257 - accuracy: 0.9570
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3273 - accuracy: 0.9588
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3035 - accuracy: 0.9575
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3159 - accuracy: 0.9593
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3125 - accuracy: 0.9599
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3123 - accuracy: 0.9607

### 4) 모델을 이용

In [ ]:
#4. 모델을 이용한다.

pred = model.predict(독립[-5:]) # [-5:] -> 뒤에서부터 5개의 값을 print하라
pd.DataFrame(pred).round(2) # DataFrame의 형태로 변형해 출력, round(2) -> 소수점 두번째 자리에서 반올림

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [ ]:
# 정답지
# [-5:] -> 뒤에서부터 5개의 값을 print하라

종속[-5:] # 위와 비교해보니 정확하게 예측된듯 하다.

       0  1  2  3  4  5  6  7  8  9
59995  0  0  0  0  0  0  0  0  1  0
59996  0  0  0  1  0  0  0  0  0  0
59997  0  0  0  0  0  1  0  0  0  0
59998  0  0  0  0  0  0  1  0  0  0
59999  0  0  0  0  0  0  0  0  1  0